* {
    box-sizing: border-box;
    margin:auto;
}

img {
    margin: 30px;
}

.photo-container{
    text-align: center;
}


@media (min-width: 768px) {
    .photo-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 33%;
        max-width:90%;
    }
    
}